<!DOCTYPE html>
<html>
<head>
    <title>Add Customer</title>
</head>
<body>

<h2>Add Customer</h2>

<form method="POST">

    <label>Customer Name</label><br>
    <input type="text" name="customer_name" required><br><br>

    <label>Mobile</label><br>
    <input type="text" name="mobile"><br><br>

    <label>Email</label><br>
    <input type="email" name="email"><br><br>

    <label>GST Number</label><br>
    <input type="text" name="gst"><br><br>

    <label>Address</label><br>
    <textarea name="address"></textarea><br><br>

    <button type="submit">
        Save Customer
    </button>

</form>

<br>

<a href="/">Back to Dashboard</a>

</body>
</html>