<!DOCTYPE html>
<html>

<head>
    <title>View Customers</title>
</head>

<body>

<h2>Customer List</h2>

<table border="1" cellpadding="10">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>GST</th>
    <th>Address</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>

{% for customer in customers %}

<tr>

    <td>{{ customer[0] }}</td>
    <td>{{ customer[1] }}</td>
    <td>{{ customer[2] }}</td>
    <td>{{ customer[3] }}</td>
    <td>{{ customer[4] }}</td>
    <td>{{ customer[5] }}</td>
    <td>
    <a href="/edit-customer/{{ customer[0] }}">
        Edit
    </a>
    </td>
    <td>
    <a href="/delete-customer/{{ customer[0] }}"
       onclick="return confirm('Delete this customer?')">
        Delete
    </a>
    </td>
</tr>

{% endfor %}

</table>

<br>

<a href="/">Dashboard</a>

</body>
</html>